/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/07/2017, 11:25:47 AM
    Author     : ronald.carhuaricra
*/

.menu-fixed {
    position:fixed;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    top:0;
    
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
@media (min-width: 1200px){

    .menu-fixed {
        width: 1170px;
    }    
}
@media (min-width: 992px){
    .menu-fixed {
        width: 970px;
    }
}
@media (min-width: 768px){
    .menu-fixed {
        width: 750px;
    }
}
